<!doctype html>
<html lang="ru">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport"  content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <!-- ChartJS -->
    <link rel="stylesheet" href="/static/css/Chart.min.css">
    <!-- FontAwesome -->
    <link rel="stylesheet" href="/static/css/fontawesome.all.min.css">
    <title>Welcome to Braniac!</title>
</head>

<body>
    {% include 'includes/main_menu.html' %}
    <div class="container-md">
        {% block content %}
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur
        optio est esse? Veritatis laborum expedita
        quibusdam numquam! Expedita amet nisi dolor similique autem, mollitia
        ipsa et, natus vel explicabo
        reprehenderit?
        {% endblock content %}
    </div>
    <!-- Footer -->
    {% include 'includes/footer.html' %}
    
    <!-- /Footer -->
    <!-- JavaScript section -->
    <!-- Bootstrap -->
    <script src="/static/js/jquery-3.6.0.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <!-- ChartJs -->
    <script src="/static/js/Chart.min.js"></script>
    <!-- FontAwesome -->
    <script src="/static/js/fontawesome.all.min.js"></script>
</body>

</html>